 body {
     font-family: Arial, sans-serif;
     background-color: #f0f4f8;
     margin: 0;
     padding: 0;
 }

 header {
     background: linear-gradient(to right, #007BFF, #1E90FF);
     color: white;
     text-align: center;
     padding: 10px 0;
 }

 nav {
     background-color: #003366;
     text-align: center;
     padding: 10px 0;
 }

 nav a {
     color: white;
     margin: 0 15px;
     text-decoration: none;
     font-weight: bold;
 }

 .welcome {
     background-color: gray;
     text-align: center;
     margin: 40px;
     font-size: 25px;
     font-weight: bold;
     color: white;
     justify-content: center;
     border: 2px solid gray;
     border-radius: 8px;
     align-items: center;
     margin-top: 100px;
     padding: 15px 25px;
 }

.container {
     display: flex;
     justify-content: space-around;
     margin: 10px;
     border-left: 5px;
     flex:0;
 }

.artikel {
    background-color: white;
    padding: 20px;
    flex: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.sidebar {
    background-color: white;
    padding: 20px;
    flex: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

 footer {
     background-color: #003366;
     color: white;
     text-align: center;
     padding: 10px;
     position: fixed;
     bottom: 0;
     width: 100%;
     font-size: 14px;
 }